<h1>メッセージ一覧</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>最新メッセージ</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><div class="text-center"><%= user.username %></div></td>
      <td><div class="text-center"><%= user.messages.first %></div></td>
    </tr>
    <% end %>
  </tbody>
</table>
